@font-face {
    font-family: "MyImpact";
    src: url("fonts/Impact.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-color: #f5efe6;
}

* {
    padding: 0;
    margin: 0;
}

.navBar {
    width: 100vw;
    height: 70px;
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-family: MyImpact;
}

.divNavbar {
    height: 70px;
    width: 70px;
    background-image: url(JRPDLOGO70x70.png);
    margin-left: 20px;
}

.insideNavBar {
    display: inline-flex;
    margin-right: 10%;
    font-family: "MyImpact";
}

h1.insideNavBar {
    margin-left: 3%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}


ul.insideNavBar {
    position: relative;
    margin-left: 50%;
}   

.navBarList {
    display: inline-flex;
    margin-left: 10vw;
    color: #f5efe6;
    font-size: 1.3em;
}

.navBarList1 {
    display: inline-flex;
    margin-left: 10vw;
    color: #31326f;
    font-size: 1.3em;
}

.breaker {
    width: 100vw;
    height: 70px;
}

.heroImage {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-image: url(Hero-Image.png);
    background-repeat: no-repeat;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    font-family: "MyImpact";
}

.heroContent {
    max-width: 800px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    margin: 0;
    top: 20%;
    left: 5%;
    position: relative;
}

.heroContentH1 {
    margin: 0;
    font-size: 6.1em;
    letter-spacing: 2px;
    color: #31326f;
}

.heroContentUl {
    padding: 0;
    margin: 3vh 0 3vh 0;
}

.heroContentLi {
    display: inline-flex;
    align-items: left;
    justify-content: space-between;
    padding: 0;
    margin-right: 1.4em;
    font-size: x-large;
    letter-spacing: 3px;
    color: #31326f;
}

.heroBtn {
    display: flex;
    border: #31326f 1px solid;
    background-color: #31326f;
    border-width: 0.2vw;
    text-transform: uppercase;
    font-family: MyImpact;
    font-size: 2em;
    color:  #f5efe6;
    padding: 1em;
    margin: 0 auto;
}

.heroBtn:hover {
    color: #31326f;
    background-color: #f5efe6;
    border-color: #31326f;
    transition: 1s;
}

.carouselSection {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-color: #f5efe6;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel1 {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 600px;
    background-color: #31326f;
}

.carouselTrack {
    display: block;
    transition: transform 0.5s ease-in-out;
}

.carouselTrackDiv {
    height: 600px;
    width: 1400px;
    display: none;
}

.carouselTrackDiv div {
  height: 600px;
  width: 1400px;
  display: flex;
  flex-direction: column;
  background-color: #31326f;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.carouselTrackDiv div img {
  width: 700px;
  height: 300px;
}

.carouselTrackDiv div h1 {
  font-family: myImpact;
  margin: 0 0 2% 0;
  color: #f5efe6;
  font-size: 2em;
}

.carouselTrackDiv div h6 {
  margin: 2% 5% 2% 5%;
  font-family: myImpact;
  font-size: 1.23609394314em;
  color: #f5efe6;
  text-align: justify;
  word-wrap: break-word;
}


.carouselTrackDiv--Selected {
  display: block;
}

.div1 {
    background-color: rgb(175, 112, 35);
}

.div2 {
    background-color: aquamarine;
}
.div3 {
    background-color: rgb(136, 136, 58);
}

.carouselH1,
.experienceH1 {
    font-family: MyImpact;
    margin-bottom: 5%;
    font-size: 3em;
    color: #31326f;
}

.carouselDiv {
  height: 400px;
  width: 1000px;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  background: rgba(255, 255, 255, 0.5);
}

.experienceSection {
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  background-color: #f5efe6;
}

.experienceH1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.experienceContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3) {
  width: 25%;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: #f5efe6;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* 
.item1 {

  background-color: #31326f;
}

.item2 {
  background-color: #31326f;
}

.item3 {
  background-color: #31326f;
} */

.item:nth-child(1) img,
.item:nth-child(2) img,
.item:nth-child(3) img{
  width: 300px;
  height: 350px;
  border: #31326f solid 8px;
  margin-bottom: 5%;
}

.item:nth-child(1) h1,
.item:nth-child(2) h1,
.item:nth-child(3) h1{
  margin-bottom: 5%;
  font-family: myImpact;
  font-size: 2em;
  color: #31326f;
}

.item:nth-child(1) h6,
.item:nth-child(2) h6,
.item:nth-child(3) h6{
  margin: 0 5% 5% 5%;
  font-family: myImpact;
  font-size: 1.23609394314em;
  color: #31326f;
  text-align: justify;
  word-wrap: break-word;
}

.aboutSection {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-color: #f5efe6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContent{
  height: 700px;
  width: 1200px;
  background-color: #31326f;
  margin: 0 1% 0 1%;
  border-radius: 10px;
}

.aboutImageSkills {
  height: 700px;
  width: 600px;
  background-color: #f5efe6;
  margin: 0 1% 0 1%;
}

.aboutContent h1 {
  font-size: 4em;
  color: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: myImpact;
  margin: 2% 0 2% 0;
}

.aboutContent h6 {
  font-size: 2.457002457em;
  color: #f5efe6;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 2% 0 2%;
}

.aboutContent h2 {
  font-size: 3em;
  color: #f5efe6;
  margin: 2% 0 0 2%;
}

.aboutImage {
  height: 300px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.aboutImage img {
  height: 295px;
  width: 595px;
  border: #31326f solid 2px;
  border-radius: 4px;
}

.aboutSkills {
  height: 390px;
  width: 600px;
  background-color: #31326f;
  border-radius: 4px;
}

.aboutSkills h1 {
  color: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-family: myImpact;
  margin: 1% 0 0 0;
}

.aboutSkills h2 {
  color: #f5efe6;
  margin: 0 0 1% 2%;
  font-size: 2em;
  font-family: myImpact;
}

.aboutSkills h3 {
  color: #f5efe6;
  margin: 0 2% 1% 2%;
  font-size: 1.23609394314em;
  font-family: myImpact;
}
