@font-face {
    font-family: "MyImpact";
    src: url("fonts/Impact.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-color: #f5efe6;
}

* {
    padding: 0;
    margin: 0;
}

.navBar {
    width: 100vw;
    height: 70px;
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-family: MyImpact;
}

.insideNavBar {
    display: inline-flex;
    margin-right: 10%;
    font-family: "MyImpact";
}

h1.insideNavBar {
    margin-left: 3%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}


ul.insideNavBar {
    position: relative;
    margin-left: 40%;
}   

.navBarList {
    display: inline-flex;
    margin-left: 10vw;
    color: #f5efe6;
    font-size: 1.3em;
}

.navBarList1 {
    display: inline-flex;
    margin-left: 10vw;
    color: #31326f;
    font-size: 1.3em;
}

.breaker {
    width: 100vw;
    height: 70px;
}

.heroImage {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-image: url(Hero-Image.png);
    background-repeat: no-repeat;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    font-family: "MyImpact";
}

.heroContent {
    max-width: 800px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    margin: 0;
    top: 20%;
    left: 5%;
    position: relative;
}

.heroContentH1 {
    margin: 0;
    font-size: 6.1em;
    letter-spacing: 2px;
    color: #31326f;
}

.heroContentUl {
    padding: 0;
    margin: 3vh 0 3vh 0;
}

.heroContentLi {
    display: inline-flex;
    align-items: left;
    justify-content: space-between;
    padding: 0;
    margin-right: 1.4em;
    font-size: x-large;
    letter-spacing: 3px;
    color: #31326f;
}

.heroBtn {
    display: flex;
    border: #31326f 1px solid;
    background-color: #31326f;
    border-width: 0.2vw;
    text-transform: uppercase;
    font-family: MyImpact;
    font-size: 2em;
    color:  #f5efe6;
    padding: 1em;
    margin: 0 auto;
}

.heroBtn:hover {
    color: #31326f;
    background-color: #f5efe6;
    border-color: #31326f;
    transition: 1s;
}

.carouselSection {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-color: #31326f;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselH1 {
    font-family: MyImpact;
}

.carousel1 {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 600px;
    background-color: #91621d;
}

.carouselTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carouselTrack div {
    height: 400px;
    width: 1000px;
}

.div1 {
    background-color: rgb(175, 112, 35);
}

.div2 {
    background-color: aquamarine;
}
.div3 {
    background-color: rgb(136, 136, 58);
}

button.previous, button.next {
    position: absolute;
    top: 50%;                        
    transform: translateY(-50%);      
    background: rgba(0, 0, 0, 0.5);   
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease;
    z-index: 10;   
}

button.prev {
  left: 10px;
}
button.next {
  right: 10px;
}





/* Sample */
.carousel {
  position: relative;
  width: 400px;
  overflow: hidden;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  background-color: #91621d;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

/* Buttons */
button.prev, button.next1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
}

button.prev:hover, button.next:hover {
  background: rgba(0,0,0,0.8);
}

button.prev {
  left: 10px;
}
button.next {
  right: 10px;
}