body {
    height: 100vh;
    width: 100vw;
    background-color: #f5efe6;
}

.navBar {
    width: 100vw;
    height: 70px;
    background-color: aqua;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.insideNavBar {
    display: inline-block;
}

h1 {
    margin-left: 3%;
}


ul {
    position: fixed;
    right: 10%;
}   

li {
    display: inline-flex;
    margin-left: 5%;
}