@font-face {
    font-family: "MyImpact";
    src: url("fonts/Impact.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-color: #f5efe6;
}

* {
    padding: 0;
    margin: 0;
}

.navBar {
    width: 100vw;
    height: 70px;
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-family: MyImpact;
}

.insideNavBar {
    display: inline-flex;
    margin-right: 10%;
    font-family: "MyImpact";
}

h1.insideNavBar {
    margin-left: 3%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}


ul.insideNavBar {
    position: relative;
    margin-left: 10%;
}   

.navBarList {
    display: inline-flex;
    margin-left: 10vw;
}

.heroImage {
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    background-image: url(Hero-Image.png);
    background-repeat: no-repeat;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    font-family: "MyImpact";
}

.heroContent {
    max-width: 800px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    margin: 0;
    top: 20%;
    left: 5%;
    position: relative;
}

.heroContentH1 {
    margin: 0;
    font-size: 6.1em;
    letter-spacing: 2px;
    color: #31326f;
}

.heroContentUl {
    padding: 0;
    margin: 3vh 0 3vh 0;
}

.heroContentLi {
    display: inline-flex;
    align-items: left;
    justify-content: space-between;
    padding: 0;
    margin-right: 1.4em;
    font-size: x-large;
    letter-spacing: 3px;
    color: #31326f;
}

.heroBtn {
    display: flex;
    border: #31326f 1px solid;
    background-color: #31326f;
    border-width: 0.2vw;
    text-transform: uppercase;
    font-family: MyImpact;
    font-size: 2em;
    color:  #f5efe6;
    padding: 1em;
    margin: 0 auto;
}

.heroBtn:hover {
    color: #31326f;
    background-color: #f5efe6;
    border-color: #31326f;
    transition: 1s;
}